* {
      margin: 0;
      padding: 0;
}

body {
      font-family: 'Roboto', sans-serif;
}




li,h1,a{
      text-decoration: none;
      color: black;
      font-weight: 500;
}


header{
      
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
}

.logo{
      margin-right: auto;
      margin-right: 80px;
}

.nav_menu{
      list-style: none;
}


.nav_menu li {
      display: inline-block;
      padding: 20px;
}

.nav_menu li a{
      transition: all 0.3s ease 0s;      
}


.nav_menu li a:hover{
      color: rgb(15, 99, 234);   
}

.search-bar{
      display: flex;
      margin-right: auto;
      
}



.sign-in{
      
      background-color: rgb(15, 99, 234);
      border: none;
      padding: 9px 25px;
      margin-left: 20px;
      cursor: pointer;
      border-radius: 50px;
      transition: all 0.3s ease 0s;  
      font-size: 15px;
      font-weight: bold;
}

.sign-in:hover{
      opacity: 0.7;
}




.search-bar input[type="text"] {
      width: 40rem; /* Utilisez toute la largeur disponible */
      padding: 8px; /* Ajustez le remplissage du texte */
      border: 1px solid black; /* Supprimez la bordure par défaut du champ de saisie */
      outline: none; /* Supprimez la mise en surbrillance par défaut lors du focus */
      font-size: 16px; /* Ajustez la taille de la police */
      border-radius: 45px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
}


.content {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      height: 400px;
      background-color: blueviolet;
}


.intro {
      display: flex;
      flex: 1;
    }
    
.left-block,
.right-block {
      flex: 1;
      padding: 10px;
    }
    
.left-block {
      background-color: lightblue;
    }

.entete-intro{
      background-color: aqua;
}
    
.right-block {
      background-color: lightcoral;
    }

.player_photo{
      margin-left: 400px;
}

.player_photo img{
      height: 300px;
      width: 300px;
      
}


.points-avg{
      font-weight: bolder;
}